<table class="table table-striped">
    <thead class="thead-light" style="background-color: #e3f2fd">
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Gift Purchased</strong></th>
      <th><strong>Amount Spent</strong></th>
      <th><strong>See Friend</strong></th>
      </tr>
    </thead>
    <% friends.find_each do |friend| %>
      <tr>
        
        <td><%= friend.name %></td>
        <td><%= friend.gift_status %></td>
        <td><%= friend.amount_spent %></td>
        <td><a href="#" data-user= "<%=user.id %>" data-id="<%= friend.id %>" class="show-friend">See Friend</a></td>

      </tr>
    <% end %>
  </table>
