<table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Gift Purchased</strong></td>
      <td><strong>Amount Spent</strong></td>
      <td><strong>See Wishlist</strong></td>
    </tr>
    <% friends.find_each do |friend| %>
      <tr>
        
        <td><a href="#" data-id="<%= friend.id %>" class="see-friend"><%= friend.name %></a></td>
        <td><%= friend.gift_status %></td>
        <td><%= friend.amount_spent %></td>
        <td><%= link_to "detailed view", user_friend_path(friend) %></td>

      </tr>
    <% end %>
  </table>
