<table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Gift Purchased</strong></td>
      <td><strong>Amount Spent</strong></td>
      <td><strong>See Friend</strong></td>
    </tr>
    <% friends.find_each do |friend| %>
      <tr>
        
        <td><%= friend.name %></td>
        <td><%= friend.gift_status %></td>
        <td><%= friend.amount_spent %></td>
        <td><a href="#" data-user= "<%=user.id %>" data-id="<%= friend.id %>" class="show-friend">See Friend</a></td>

      </tr>
    <% end %>
  </table>
