<h3><%=@friend.name%></h3>
<h5><%=link_to "Add Gifts", new_user_friend_gift_path(current_user, @friend)%>||<%=link_to "Giftlist", user_friend_gifts_path(current_user, @friend), html_options = {:id => "friend-gift"}%> </h5>
<p><strong>Gift Purchased: </strong><%=@friend.gift_status%></p>
<p><strong>Amount: </strong><%=@friend.amount_spent%></p>
<%=link_to "Edit Friend", edit_user_friend_path(current_user, @friend)%>
<button class="next-friend" data-user=<%=@friend.user_id%> data-id=<%=@friend.id%>>Next</button>