<h4><%=@user.name%>'s budget</h4>
<strong>Budget: </strong>$<%=@user.budget%>

<br><% if @user.friends.size ==0%>
    You need to add friends!
<%else%>
    <strong>Amount spent: </strong>$<%=@user.amount_spent%><br>
    You have $<%=@user.budget-@user.amount_spent%> left
<%end%><br>
<%= link_to "Add a Friend", new_user_friend_path(@user.id)%>

