<div class = "row">
    <h2><%=@user.name%>'s budget</h2>
    
</div>
<% if @user.friends.size ==0%>
    You need to add friends!
<%else%>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=@user.budget-@user.amount_spent%>" aria-valuemin="0" aria-valuemax="<%=@user.budget%>" style="width: <%=100*(@user.budget-@user.amount_spent)/@user.budget%>%;">
    $<%=@user.budget-@user.amount_spent%> remaining
  </div>
</div>
    <div class = "row">
    <div class= "col-md-3"><h3>Budget</h3> $<%=@user.budget%></div>
    <div class= "col-md-3"><h3>Amount spent: </h3>$<%=@user.amount_spent%></div>
    <div class= "col-md-3"><h3>You have $<%=@user.budget-@user.amount_spent%> left</h3></div>
    </div>
    <button class="all-friends btn btn-primary btn-lg" data-id=<%=@user.id%>>All Friends</button>
<%end%>
<%= link_to "Add a Friend", new_user_friend_path(@user.id), class:"btn btn-primary btn-lg"%>

