<h3>Purchased Gifts</h3>
<table class="table table-striped">
<thead class="thead-light" style="background-color: #e3f2fd">
    <tr>
      <th><strong>Gift</strong></th>
      <th><strong>For</strong></th>
      <th><strong>Price</strong></th>
      <th><strong>Link</strong></th>
    </tr>
    </thead>
    <% gifts.each do |gift| %>
      <tr>
        
        <td><%= gift.name %></td>
        <td><%= Friend.find(gift.friend_id).name %></td>
        <td><%= gift.price %></td>
        <td><a href="<%= gift.link %>" target="_blank"><%=gift.link%></a></td>
        
        
        

      </tr>
    <% end %>
  </table>
