<h2>Gifts for <%=friend.name%></h2>
<table class="table table-striped">
<thead class="thead-light" style="background-color: #e3f2fd">
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Link</strong></th>
      <th><strong>Price</strong></th>
      <th><strong>See Gift</strong></th>
    </tr>
    </thead>
    <% gifts.find_each do |gift| %>
      <tr>
        
        <td><%= gift.name %></td>
        <td><a href="<%= gift.link %>" target="_blank"><%=gift.link%></a></td>
        <td><%= gift.price %></td>
        <td><a href="#" data-user= "<%=user.id %>" data-friend="<%= friend.id %>" data-id="<%= gift.id %>" class="show-gift">See Gift</a></td>

      </tr>
    <% end %>
  </table>
