<h3><%=@gift.name%></h3>
<button class="buy-gift" data-user=<%=@gift.user_id%> data-friend=<%=@gift.friend_id%> data-id=<%=@gift.id%>>Buy gift</button>
<p><strong> Link: </strong><%=@gift.link%></p>
<p><strong>Price: $</strong><%=@gift.price%></p>
<%=link_to "Edit Gift", edit_user_friend_gift_path(current_user, @gift)%>
<button class="next-gift" data-friend=<%=@gift.friend_id%>data-user=<%=@gift.user_id%> data-id=<%=@gift.id%>>Next</button>