<div class="navbar navbar-light navbar-collapse collapse" style="background-color: #e3f2fd;" role="navigation">
      <div class="nav">
        
        <% if !logged_in? %>
          <a class="navbar-brand" href="<%=new_user_path%>">Sign Up</a>
          <a class="navbar-brand" href="<%= signin_path %>">Log In</a>
        <% else %>
          
          <a class="navbar-brand" href="<%= user_path(current_user) %>"/>Home</a>
          <a class="navbar-brand" href="<%= user_friends_path(current_user)%>"/>Friends</a>
          <a class="navbar-brand" href="<%= user_gifts_path(current_user)%>"/>Gifts</a>
          <a class="navbar-brand" data-method="delete" href="<%= logout_path %>">Log Out</a>
          <div id = "navbar-name"><%=current_user.name%> logged in</div>
          
        <%end%>

        </div>
      </div>